.card {
  display: inline-flex;
  width: 33%;
  justify-content: center;
  align-items: center;
}

.card > .img-container {
    overflow: hidden;
    text-align: center;
    width: 200px;
    border: 1px solid black;
  }

  .card > .img-container > img {
    width: 200px;
    height:200px;

  }
